small {
    display: block;
    margin: 2em;
    right: 0;
    left: 0;
    text-align: center;
    color: darkgrey;
    font-family: sans;
}

small a, small a:visited {
    color: darkgrey;
}


/* display */

.basicode {
    /* 4*3 aspect ratio */
    height: 36em;
    width: 48em;
    background-color: #333;
    border: 0.4em solid grey;
    outline: none;
    /* this centers the screen horizontally, for some reason */
    margin: auto;
    display: table;
    /* */
    margin-top: 1rem;
}

.basicode:focus {
    border: 0.4em solid black;
}

.buttons {
    /* this centers the screen horizontally, for some reason */
    margin: auto;
    display: table;
}

/* storage visualisation */

.floppy {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2em 1em 2em 1em;
    word-wrap: break-word;
    overflow: scroll;
}
.floppy a {
    font-family: sans;
    padding: 0 0.2em 0 0.2em;
    margin: 0.1em 0 0.1em 0;
    color: black;
    text-decoration: none;
}
.floppy .hidden {
    color: #aaa;
    padding: 0 0.2em 0 0.2em;
    margin: 0.1em 0 0.1em 0;
}
.floppy a:hover, .floppy a:hover .hidden {
    background-color: steelblue;
    color: white;
}
.floppy .delete:hover {
    background-color:red;
}
.floppy .delete:hover ~ a {
    background-color:red;
    color: white;
}
.floppy .delete:hover ~ a .hidden,  .floppy .delete:hover ~ .hidden{
    color:red;
}
.floppy .download:hover {
    background-color:green;
}
.floppy .download:hover ~ a {
    background-color:green;
    color: white;
}
.floppy .download:hover ~ a .hidden,  .floppy .download:hover ~ .hidden{
    color: green;
}


.floppy ul, .floppy ol {
    font-family: sans;
    list-style-type: none;
    padding: 0.5em 0 0 0;
    margin-top:0;
    margin-bottom: 1.5em;
}
.floppy ul > li {
    padding: 0.5em 0 0 0;
    background-color: steelblue;
    color: white;
    font-weight: bold;
}

.floppy ol > li {
    background-color: white;
    color: red;
    font-weight: normal;
}

/* Tabbed example */
/* https://www.w3.org/Style/Examples/007/target.en.html#tab3 */
div.tabs {
    height: 41em;
    width: 58em;
    position: relative;
    z-index: 0;
    margin: auto;
    display: table;

}
div.tabs > div {
    display: inline;
}
div.tabs > div > a {
    font-family: sans;
    text-decoration: none;
    color: black;
    padding: 0.2em 2em 0.2em 2em;
    margin: 0;
    background: lightgrey;
    border-bottom: 1px solid lightgrey;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
/* inactive tabs */
div.tabs > div:not(:target) > a {
    border-bottom: 0;
    background: darkgrey;
}
/* active or default tab */
div.tabs > div:target > a {
    background: lightgrey;
    border-bottom: 1px solid lightgrey;
}
div.tabs > div > div {
    background: lightgrey;
    border: 1px solid lightgrey;
    z-index: -2;
    left: 0;
    top: 1.3em;
    bottom: 0;
    right: 0;
    padding: 0.3em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    position: absolute;
}
div.tabs > div:target > div {
    z-index: -1
}

#printer0, #listing0, #info0 {
    border: none;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#info0 {
    font-size: 1.5em;
    background-color: lightgrey;
}

body {
    background-color: darkslategrey;
}
